$primary-normal: #589add;
$primary-dark: #2c78c4;
$primary-light: #054f94;

$secondary-normal: #090d11;
$secondary-dark: #161617;
$secondary-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #5fb5e4;
$red-dark:#4e97f0;
$red-light: #4893f6;